
<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header> 
        <mat-card-title>
          <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{baseURL+dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        {{dish.description}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>    

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <h3>Comments</h3>
    <mat-list >
        <mat-list-item *ngFor="let com of dish.comments "> 
          <h4 matLine> {{com.comment}}  </h4>
        <div matLine>{{com.rating}} Stars</div>
        <div matLine>
          <span>--{{com.author}}  {{com.date | date}} </span>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="commentForm.valid"> 
        <h4 matLine>  {{ commentForm.value.comment }}  </h4>
      <div matLine>{{ commentForm.value.rating }} Stars</div>
      <div matLine>
        <span>-- {{ commentForm.value.author }}   </span>
      </div>
    </mat-list-item>
    </mat-list>   
    
              <!--div fxFlex fxFlexOffset="20px" class="form-size"-->
              
                <h3>Comment here</h3>
                <!--p>{{ commentForm.value | json }} {{ commentForm.status | json }}
                </p-->
            
                  <form novalidate [formGroup]="commentForm" #comForm="ngForm" (ngSubmit)="onSubmit()">
                    <p>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="author" placeholder="Name" type="text" required>

                      <!--mat-error *ngIf="formErrors.author">kdkndn{{formErrors.author}}</mat-error-->
                      <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>  
                    </mat-form-field>
                  </p> 
                    <p>
                      <mat-slider matInput  formControlName="rating" min="1" max="5" step="1" tickInterval="1" value="5"></mat-slider>
                    </p>
                  <p>
                    <mat-form-field  appearance="outline">
                      <textarea matInput formControlName="comment" placeholder="Enter Your comment here" rows=12></textarea>
                      <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>  
                    </mat-form-field>
                  </p>
                  <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
                </form>
  </div>

  <div fxFlex [hidden]="dish">
    <h4>Loading... Please wait</h4>
    <mat-spinner></mat-spinner>
  </div>
  <!--div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div-->

</div>  
